@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 8px;
  background-color: #756157;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;
}

.button:hover,
.button:focus-visible {
  background-color: #615048;
}

.button:focus-visible {
  outline: none;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  cursor: default;
  pointer-events: none;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  overflow-wrap: break-word;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.header {
  position: relative;
  padding-left: 70px;
  padding-right: 70px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 70px;
}

.header__logo:hover,
.header__logo:focus-visible {
  opacity: 0.7;
}

.header__logo:focus-visible {
  outline: none;
}

.header__logo:active {
  opacity: 0.3;
}

.nav {
  display: flex;
  margin-left: 168px;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}

.nav__list--main {
  max-width: 530px;
}

.nav__list--user {
  max-width: 360px;
  justify-content: flex-end;
}

.nav__link {
  position: relative;
  display: block;
  padding: 20px 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.nav__link:not([href]) {
  cursor: default;
}

.nav__link[href]:hover,
.nav__link[href]:focus {
  color: #756157;
}

.nav__link[href]:focus-visible {
  color: #756157;
  outline: none;
}

.nav__link[href]:active {
  color: rgba(117, 97, 87, 0.3);
}

.nav__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 15px;
  right: 15px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.nav__icon-link {
  display: block;
  padding: 25px 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.nav__icon-link--search {
  background-image: url("../images/icons/search.svg");
}

.nav__icon-link--favorites {
  position: relative;
  background-image: url("../images/icons/favorites.svg");
}

.nav__icon-link:hover,
.nav__icon-link:focus-visible {
  opacity: 0.7;
}

.nav__icon-link:focus-visible {
  outline: none;
}

.nav__icon-link:active {
  opacity: 0.3;
}

.nav__counter {
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7db54f;
  text-decoration: none;
  font-size: 10px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.nav__button {
  min-width: 160px;
  margin-left: 20px;
  padding-left: 34px;
  padding-right: 34px;
  font-size: 16px;
  line-height: 20px;
}

.main {
  flex-grow: 1;
}

.hero {
  min-height: 485px;
  padding: 51px 70px 82px;
  background-color: #0d2b3ede;
  background-image: url("../images/hero-divider.svg"), url("../images/hero-background.jpg");
  background-size: 100% 57px, cover;
  background-position: center bottom, center top;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.hero__image {
  display: block;
  margin: 0 auto;
}

.features {
  text-align: center;
}

.features__header {
  max-width: 660px;
  margin: 0 auto;
  padding: 69px 70px 90px;
}

.features__heading {
  margin: 0 0 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.features__subheading {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.features__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.features__item {
  display: flex;
  flex-direction: column;
  background-color: rgba(131, 179, 211, 0.2);
  flex: 0 0 calc(100% / 3);
}

.features__item:nth-child(even):not(.features__item--wide) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features__item--wide {
  flex-direction: row;
  background-color: #82b3d3;
  color: #ffffff;
  flex-basis: 100%;
}

.features__item--wide .features__text {
  padding: 100px 85px;
  flex: 0 0 calc(100% / 3);
}

.features__item--reversed {
  flex-direction: row-reverse;
}

.features__text {
  display: flex;
  flex-direction: column;
  padding: 114px 70px 112px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.features__title {
  position: relative;
  max-width: 175px;
  margin: 0 0 30px;
  padding-bottom: 31px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.features__title::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  transform: translateX(-50%);
}

.features__item--wide .features__title {
  color: #ffffff;
}

.features__item--wide .features__title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.features__description {
  max-width: 230px;
  margin: 0;
}

.features__image {
  max-width: 100%;
  height: 100%;
  flex: 0 0 calc(100% / 3 * 2);
  object-fit: cover;
}

.services {
  text-align: center;
}

.services__header {
  max-width: 515px;
  margin: 0 auto;
  padding: 64px 70px 63px;
}

.services__heading {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.services__subheading {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.services__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.services__item {
  display: flex;
  flex-direction: column;
  padding: 185px 70px 81px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  align-items: center;
  background-position-x: center;
  flex: 0 0 calc(100% / 3);
}

.services__item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services__item--accommodation {
  background-image: url("../images/icons/accommodation.svg");
  background-position-y: 82px;
}

.services__item--food {
  background-image: url("../images/icons/food.svg");
  background-position-y: 82px;
}

.services__item--souvenirs {
  background-image: url("../images/icons/souvenirs.svg");
  background-position-y: 80px;
}

.services__title {
  max-width: 230px;
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services__description {
  max-width: 230px;
  margin: 0;
}

.booking {
  padding: 95px 70px 96px;
  text-align: center;
}

.booking__header {
  max-width: 660px;
  margin: 0 auto 54px;
}

.booking__heading {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.booking__text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.booking__button {
  min-width: 376px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding: 96px 70px 104px;
  background-color: #0d2b3ede;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: #ffffff;
}

.subscribe--light {
  background-color: transparent;
  background-image: none;
  color: #333333;
}

.subscribe--light .subscribe__heading {
  color: #000000;
}

.subscribe__header {
  max-width: 530px;
  margin: 0 auto 54px;
}

.subscribe__heading {
  margin: 0 0 21px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe__text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.subscribe__form {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.subscribe__input {
  width: 453px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 14px 20px;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  box-sizing: border-box;
}

.subscribe__input:hover,
.subscribe__input:focus-visible {
  background-color: #e5e5e5;
}

.subscribe__input:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.subscribe__input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscribe__button {
  border-radius: 0 4px 4px 0;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
}

.subscribe__button:hover,
.subscribe__button:focus-visible {
  background-color: #68a2ca;
}

.subscribe__button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.footer {
  display: flex;
  padding: 40px 70px 30px;
  align-items: center;
  justify-content: space-between;
}

.footer__socials {
  width: 142px;
}

.social__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.social__item {
  width: 47px;
  height: 49px;
}

.social__link {
  display: flex;
  width: 100%;
  height: 100%;
  color: #83b3d3;
  align-items: center;
  justify-content: center;
}

.social__link:hover .social__icon,
.social__link:focus-visible .social__icon {
  color: #68a2ca;
}

.social__link:focus-visible {
  outline: none;
}

.social__link:active .social__icon {
  color: rgba(104, 162, 202, 0.3);
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer__phone {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  white-space: nowrap;
}

.footer__phone:hover,
.footer__phone:focus-visible {
  color: #756157;
}

.footer__phone:focus-visible {
  outline: none;
}

.footer__phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer__developer {
  width: 115px;
  height: 33px;
  color: #000000;
}

.footer__developer:hover,
.footer__developer:focus-visible {
  color: #756157;
}

.footer__developer:focus-visible {
  outline: none;
}

.footer__developer:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer__logo {
  display: block;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  align-items: center;
  justify-content: center;
}

.modal--show {
  display: flex;
}

.modal__window {
  position: relative;
  width: 717px;
  min-height: 576px;
  border-radius: 30px;
  padding: 64px 70px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal__close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background-color: #f2f2f2;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal__close-button:hover,
.modal__close-button:active {
  background-color: #e5e5e5;
}

.modal__close-button:focus-visible {
  outline: 3px solid #83b3d3;
}

.modal__close-button:active {
  opacity: 0.3;
}

.modal__title {
  margin: 0 0 64px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal__list {
  display: flex;
  margin: 0 0 23px;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  gap: 23px;
  justify-content: space-between;
}

.modal__list:last-of-type {
  margin: 0 0 47px;
}

.modal__item {
  display: flex;
  align-items: flex-start;
}

.modal__label {
  width: 137px;
  margin: 0;
  padding: 12px 0 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.modal__input {
  margin: 0;
  border: none;
  border-radius: 4px;
  padding: 12px 60px 12px 20px;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  box-sizing: border-box;
}

.modal__input[type="number"] {
  -moz-appearance: textfield;
}

.modal__input[type="number"]::-webkit-outer-spin-button,
.modal__input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.modal__date-container {
  width: 440px;
}

.modal__input--date {
  width: 440px;
  background-image: url("../images/icons/date.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.modal__input--date:hover,
.modal__input--date:focus-visible {
  background-color: #e5e5e5;
}

.modal__input--date:hover {
  outline: none;
}

.modal__input--date:focus-visible {
  outline: 3px solid #83b3d3;
}

.modal__message {
  margin: 0;
  padding: 4px 0 0 20px;
  font-size: 16px;
  line-height: 21px;
}

.modal__message--error {
  color: #ff5757;
}

.modal__people-container {
  display: grid;
  width: 110px;
  height: 48px;
  border-radius: 4px;
  background-color: #f2f2f2;
  align-items: center;
  grid-template-columns: 40px 31px 40px;
  justify-items: center;
}

.modal__spinner {
  height: 20px;
  margin: 0;
  border: none;
  padding: 0;
  background-color: #f2f2f2;
  color: rgba(117, 97, 87, 0.3);
  cursor: pointer;
}

.modal__spinner:hover,
.modal__spinner:focus-visible {
  color: #000000;
}

.modal__spinner:focus-visible {
  border-radius: 4px;
  outline: 3px solid #83b3d3;
}

.modal__spinner:active {
  color: rgba(0, 0, 0, 0.2);
}

.modal__input--people {
  max-width: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.modal__input--people:focus-visible {
  outline: none;
}

.tooltip {
  display: flex;
}

.tooltip__container {
  display: flex;
  width: 132px;
}

.tooltip .modal__label {
  width: auto;
  min-width: 59px;
}

.tooltip__info {
  position: relative;
  padding-top: 11px;
}

.tooltip__button {
  position: relative;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip__text {
  position: absolute;
  top: 51px;
  left: 50%;
  display: none;
  width: 256px;
  min-height: 143px;
  margin: 0;
  border-radius: 10px;
  padding: 22px 18px 18px 22px;
  background-color: #333333;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  transform: translateX(-50%);
  box-sizing: border-box;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

.tooltip__text::before {
  position: absolute;
  top: -18px;
  left: 50%;
  border: 10px solid transparent;
  border-bottom: 9px solid #333333;
  content: "";
  transform: translateX(-50%);
}

.tooltip__info:hover .tooltip__text,
.tooltip__button:focus-visible + .tooltip__text {
  display: block;
}

.tooltip__button:focus-visible {
  outline: none;
}

.modal__button {
  width: 100%;
  min-height: 60px;
  border-radius: 10px;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 24px;
}

.modal__button:not(:disabled):hover,
.modal__button:focus-visible {
  background-color: #68a2ca;
}

.modal__button:focus-visible {
  outline: none;
}

.modal__button:not(:disabled):active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.modal__button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  cursor: default;
}

.catalog-header {
  min-height: 412px;
  padding: 35px 70px 42px;
  background-color: #0d2b3ede;
  background-image: url("../images/catalog-header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  box-sizing: border-box;
}

.catalog-header__title {
  margin: 0 0 7px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  gap: 23px;
}

.breadcrumbs__item:not(:first-child) {
  padding-left: 3px;
  list-style-image: url("../images/icons/breadcrumbs.svg");
}

.breadcrumbs__link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs__link--home {
  width: 15px;
  min-height: 20px;
  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus-visible {
  opacity: 0.7;
}

.breadcrumbs__link:focus-visible {
  outline: none;
}

.breadcrumbs__link:active {
  opacity: 0.3;
}

.breadcrumbs__item:last-child .breadcrumbs__link {
  pointer-events: none;
}

.catalog-filter__form {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-filter__group {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 70px;
}

.catalog-filter__group--right {
  column-gap: 70px;
}

.catalog-filter__fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

.catalog-filter__group--right .catalog-filter__fieldset {
  max-width: 288px;
}

.catalog-filter__title {
  margin: 0 0 32px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.catalog-filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter__item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter__label {
  position: relative;
  display: inline-block;
  padding-left: 37px;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

.catalog-filter__label--checkbox::before,
.catalog-filter__label--radio::before {
  position: absolute;
  top: 2px;
  background-color: #ffffff;
  content: "";
}

.catalog-filter__label--checkbox::before {
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.catalog-filter__label--radio::before {
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.catalog-filter__label--checkbox::after,
.catalog-filter__label--radio::after {
  position: absolute;
  display: none;
  content: "";
}

.catalog-filter__label--checkbox::after {
  left: 5px;
  top: 8px;
  width: 9px;
  height: 4px;
  border-left: 2px solid #3f5e72;
  border-bottom: 2px solid #3f5e72;
  transform: rotate(-45deg);
}

.catalog-filter__label--radio::after {
  left: 7px;
  top: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
}

.catalog-filter__label:hover {
  opacity: 0.7;
}

.catalog-filter__label:active {
  opacity: 0.3;
}

.catalog-filter__input:focus-visible + .catalog-filter__label::before {
  outline: 3px solid #83b3d3;
}

.catalog-filter__input:checked + .catalog-filter__label::after {
  display: block;
}

.catalog-filter__input:disabled + .catalog-filter__label {
  opacity: 0.1;
  cursor: default;
}

.range__list {
  display: flex;
  margin: 0 0 44px;
  padding: 0;
  list-style: none;
  column-gap: 2px;
}

.range__item {
  position: relative;
}

.range__input {
  width: 143px;
  border: none;
  padding: 12px 51px 12px 20px;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  box-sizing: border-box;
  -moz-appearance: textfield;
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.range__input:hover,
.range__input:focus-visible {
  background-color: #e5e5e5;
}

.range__input:focus-visible {
  position: relative;
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.range__input--min {
  border-radius: 4px 0 0 4px;
}

.range__input--max {
  border-radius: 0 4px 4px 0;
}

.range__label {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.range__slider {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range__bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.range__toggle:hover,
.range__toggle:focus-visible {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range__toggle:focus-visible {
  outline: 3px solid #83b3d3;
}

.range__toggle:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  outline: 2px solid #83b3d3;
}

.catalog-filter__buttons {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  row-gap: 33px;
}

.catalog-filter__button--submit {
  width: 191px;
  background-color: #82b3d3;
  font-size: 16px;
  line-height: 20px;
}

.catalog-filter__button--submit:hover,
.catalog-filter__button--submit:focus-visible {
  background-color: #68a2ca;
}

.catalog-filter__button--submit:focus-visible {
  outline: none;
}

.catalog-filter__button--submit:not(:disabled):active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter__button--submit:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  cursor: default;
}

.catalog-filter__button--reset {
  width: 191px;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
}

.catalog-filter__button--reset:hover {
  background-color: transparent;
  opacity: 0.7;
}

.catalog-filter__button--reset:focus-visible {
  background-color: transparent;
  outline: 3px solid #83b3d3;
}

.catalog-filter__button--reset:active {
  opacity: 0.3;
  outline: none;
}

.catalog-filter__button--reset:disabled {
  opacity: 0.1;
}

.catalog {
  padding: 50px 70px 21px;
}

.sorting {
  display: flex;
  min-height: 49px;
  margin: 0 0 40px;
  align-items: center;
  flex-wrap: wrap;
  gap: 38px;
}

.sorting__title {
  width: 500px;
  margin: 0;
  padding: 6px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting__select {
  width: 292px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 10px 40px 10px 18px;
  background-color: #ffffff;
  background-image: url("../images/icons/select.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  appearance: none;
}

.sorting__select:hover,
.sorting__select:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

.sorting__select:disabled {
  border-color: #000000;
  color: #000000;
  opacity: 0.3;
}

.view {
  display: flex;
  width: 192px;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-end;
}

.view__link {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.view__link--tiles {
  background-image: url("../images/icons/tiles.svg");
}

.view__link--cards {
  background-image: url("../images/icons/cards.svg");
}

.view__link--list {
  background-image: url("../images/icons/list.svg");
}

.view__link:hover,
.view__link:active,
.view__link--active {
  border-color: #000000;
}

.view__link:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

.catalog__list {
  display: grid;
  margin: 0 0 42px;
  padding: 0;
  list-style: none;
  gap: 21px 20px;
  grid-template-columns: repeat(3, 340px);
}

.hotel-card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #e5e5e5;
  row-gap: 16px;
}

.hotel-card__link {
  color: #000000;
  text-decoration: none;
  flex-grow: 1;
}

.hotel-card__link:hover,
.hotel-card__link:focus-visible {
  color: #756157;
  outline: none;
}

.hotel-card__link:hover .hotel-card__image,
.hotel-card__link:focus-visible .hotel-card__image {
  transform: scale(1.08);
}

.hotel-card__link:active {
  color: #615048;
  opacity: 0.8;
}

.hotel-card__image-container {
  overflow: hidden;
}

.hotel-card__image {
  display: block;
  width: 100%;
  height: 212px;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.hotel-card__title {
  margin: 0;
  padding-top: 16px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card__content,
.hotel-card__actions {
  display: flex;
  justify-content: space-between;
}

.hotel-card__content {
  color: #333333;
}

.hotel-card__type,
.hotel-card__price {
  margin: 0;
  padding: 0;
}

.hotel-card__button {
  width: 140px;
}

.hotel-card__button--details,
.hotel-card__button--favorite {
  font-size: 16px;
  line-height: 20px;
}

.hotel-card__button--favorite {
  background-color: #82b3d3;
}

.hotel-card__button--favorite:hover,
.hotel-card__button--favorite:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.hotel-card__button--favorite:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card__button--favorite-active {
  background-color: #7db54f;
}

.hotel-card__button--favorite-active:hover,
.hotel-card__button--favorite-active:focus-visible {
  background-color: #6c9e42;
  outline: none;
}

.hotel-card__button--favorite-active:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card__button--favorite-active:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating__stars {
  display: inline-block;
  width: 18px;
  height: 17px;
  background: url("../images/icons/star.svg") space 0 0;
}

.rating__stars--two {
  width: 42px;
}

.rating__stars--three {
  width: 66px;
}

.rating__stars--four {
  width: 89px;
}

.rating__stars--five {
  width: 107px;
}

.rating__score {
  width: 124px;
  border-radius: 4px;
  padding: 8px;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination {
  box-shadow: 0 -1px 0 0 #e6e6e6;
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 39px 0;
  list-style: none;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination__link {
  display: flex;
  min-width: 60px;
  height: 60px;
  border: 1px solid transparent;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.pagination__link:hover,
.pagination__link:focus-visible {
  border-color: #82b3d3;
  background-color: #68a2ca;
  outline: none;
}

.pagination__link:active {
  border-color: transparent;
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination__link--active {
  background-color: #f2f2f2;
  color: #000000;
  pointer-events: none;
}

.pagination__link--points {
  border: none;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  pointer-events: none;
}
